body,html{
    background: linear-gradient(to bottom, #48b4df, #7dcdd8, #8ad8d8) no-repeat;
    background-size: cover;
    margin: 0;
}
body{
    overflow-x: hidden;
}

@font-face {
    font-family: myFirstFont;
    src: url(bavro-regular-webfont.woff);
}
@font-face {
    font-family: mySecondFont;
    src: url(Dosis-Light.ttf);
}
@font-face {
    font-family: myThirdFont;
    src: url(Iceland-Regular.ttf);
}
h1{
    font-family: myFirstFont;
    font-size: 65px;
    text-align: center;
    color: rgb(226, 224, 220);
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    flex: 1;
    padding: 0.5em;
    color: #000;
    cursor: pointer;
    font-family: myThirdFont;
    font-size: 20px;
    background-color: #d4d4d4;

}

select::-ms-expand {
    display: none;
}

.content{
    position: relative;
    margin-left: 39%;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #a3a3a3;
    border-radius: .25em;
    align-items: center;
    
}

#temperature{
    font-family: mySecondFont;
    text-align: center;
    font-size: 120px;
    position: relative;
    top: 1.2em;
}

.content::after{
    content: '\25BC';
    position: absolute;
    width: 2em;
    height: 2em;
    top: 0;
    right: 0;
    padding: 0.1em;

    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}
.content:hover::after{
    color: #48b4df;
}
#weather-image{
    position: relative;
    bottom: 23em;
    margin-left: 42%;

}
.content {
    margin-top: 50px;
  }
